<div class="container">
  <div class="row my-3">
    <div class="col-md-6">
      <app-form-new-item
        (updateItemEvent)="updateCity($event)"
        [label]="'City'"
        [selection]="selection"
        [className]="'btn-info'"
        (newItemEvent)="addNewCity($event)"
      ></app-form-new-item>
    </div>
    <div class="col-md-6">
      <input
        type="text"
        class="form-control"
        placeholder="Filter"
        [(ngModel)]="criteria"
      />
    </div>
    <hr class="mt-4 mb-4" />
    <div class="col-md-8 mt-2">
      <app-cities
        *ngFor="let city of cities | filter: criteria"
        (cityDeleteEvent)="onCityDelete($event)"
        (cityClickedEvent)="onCitySelected($event)"
        [city]="city"
        [selection]="selection"
      ></app-cities>
    </div>
    <div class="col-md-4">
      <div *ngIf="selection">
        <p>Your city is: {{ selection.name }}</p>
        <app-button
          (click)="clear()"
          [color]="'green'"
          [label]="'Clear your selection'"
        ></app-button>
      </div>
    </div>
  </div>
  <hr />
  <app-card>
    <div card-header>Soy header</div>
    <div card-body>Soy body</div>
  </app-card>
  <br />
  <app-card>
    <div card-header>Soy header 2</div>
    <div card-body>Soy body 2</div>
  </app-card>
</div>
