<form>
  <div class="row align-items-center">
    <div class="col-auto">
      <label for="" class="col-form-label">New {{ label }}</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        id="newItem"
        [ngModel]="selection?.name"
        #newItem
        name="newItem"
      />
    </div>
    <div class="col-auto">
      <button
        *ngIf="!selection?.name"
        type="button"
        class="btn"
        [ngClass]="[className]"
        (click)="onAddNewItem(newItem.value); newItem.value = ''"
      >
        Add {{ label }}
      </button>
      <button
        *ngIf="selection?.name"
        type="button"
        class="btn"
        [ngClass]="[className]"
        (click)="onUpdateItem(selection, newItem.value); newItem.value = ''"
      >
        Update {{ label }}
      </button>
    </div>
  </div>
</form>
