<h1>Reactive Contact form {{ name }}</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
  <div class="mb-4">
    <label for="name" class="form-label">Name</label>
    <input
      class="form-control"
      id="name"
      name="name"
      required
      formControlName="name"
    />
    <div
      *ngIf="
        contactForm.get('name')?.touched &&
        contactForm.get('name')?.errors?.required
      "
      class="alert alert-danger"
    >
      This field is required.
    </div>
    <div
      *ngIf="
        contactForm.get('name')?.touched &&
        contactForm.get('name')?.errors?.minlength
      "
      class="alert alert-danger"
    >
      Name must be longer than
      {{ contactForm.get('name')?.errors?.minlength?.requiredLength }}
      characteres
    </div>
  </div>
  <div class="mb-4 form-check">
    <label for="checkAdultR" class="form-label">
      Are you over 18 years old?
    </label>
    <input
      type="checkbox"
      class="form-check-input"
      id="checkAdultR"
      required
      name="checkAdultR"
      formControlName="checkAdultR"
    />
    <div
      *ngIf="
        contactForm.get('checkAdultR')?.touched &&
        contactForm.get('checkAdultR')?.errors?.required
      "
      class="alert alert-danger"
    >
      This field is required.
    </div>
  </div>
  <div class="mb-4">
    <label for="department" class="form-label">Department</label>
    <select
      name="department"
      id=""
      class="form-select form-select-sm"
      formControlName="department"
    >
      <option selected>Open this selec menu</option>
      <option value="marketing">Marketing</option>
      <option value="sale">Sale</option>
      <option value="other">Other</option>
    </select>
  </div>
  <div class="mb-4">
    <label for="comment" class="form-label">Comment</label>
    <textarea
      class="form-control"
      name="comment"
      id="comment"
      rows="4"
      placeholder="Leave a comment..."
      required
      formControlName="comment"
    ></textarea>
    <div
      *ngIf="
        contactForm.get('comment')?.touched &&
        contactForm.get('comment')?.errors?.required
      "
      class="alert alert-danger"
    >
      This field is required.
    </div>
  </div>
  <div class="d-grid gap-2 col-4 float-end">
    <button
      type="submit"
      class="btn btn-success btn-md"
      [disabled]="contactForm.invalid"
    >
      Send
    </button>
  </div>
</form>
